# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# testing
coverage/
playwright-report/
test-results/

# turbo
.turbo/

# playwright
e2e/report/
blob-report/
.playwright/

# misc
*.tsbuildinfo
.vercel/
